<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="naver-site-verification" content="48afc92b605bc20e8d91af7ced284ffe8ee01604" />
        <meta name="description" content="한국접근성평가연구원">
        <meta property="og:type" content="website"> 
        <meta property="og:title" content="한국접근성평가연구원">
        <meta property="og:description" content="한국접근성평가연구원">
        <meta property="og:image" content="https://kcaa.re.kr/images/logo.png">
        <meta property="og:url" content="www.kcaa.re.kr">
        <meta
        name="keywords"
        content="한국접근성평가연구원, 접근성평가, 접근성, 웹접근성, web accessibility, accessibility, 키오스크접근성, 사용성, 사용성평가, 접근성연구원, 접근성 연구, 키오스크개발, 키오스크평가"
        />
        <title>한국접근성평가연구원</title>
        <link rel="canonical" href="/">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/join.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
<body>
    <div id="wrapper">
        <header>
            <div class="wrap">
                <h1><a href="/"><img src="/images/logo.png" alt="한국접근성평가연구원"></a></h1>
                <nav>
                    <ul class="navigation">
                        <li><a href="/accessibilities">접근성소개</a></li>
                        <li><a href="/center">연구원소개</a></li>
                        <li><a href="/library">자료실</a></li>
                        <li><a href="#none" onclick="alert(`페이지 준비중입니다.`)">문의하기</a></li>
                    </ul>
                    <div class="utilities">
                      {% if user and user.id %}
                          <div class="sign">
                              <div>{{'안녕하세요! ' + user.userName + '님'}}</div>
                              <div class="sign-out"><a href="/auth/logout">로그아웃</a></div>
                          </div>
                      {% else %}
                          <ul class="sign">
                              <li class="sign-in"><a href="/login">로그인</a></li>
                              <li class="sign-up"><a href="/join">회원가입</a></li>
                          </ul>
                      {% endif %}
                      <div class="toggle-viewmode" onclick="alert(`서비스 준비중입니다.`)">
                          <button class="btn-toggle-viewmode"><span class="material-symbols-outlined symbols">bedtime</span>야간모드</button>
                      </div>
                  </div>
                </nav>
                <button class="btn-nav-opn" onclick="navBtnAnim()">
                    <span></span>
                </button>
                <script>
                    const navBtnAnim = () => {
                        const navBtn = document.querySelector(".btn-nav-opn");
                        const nav = document.querySelector("nav");
                        navBtn.classList.toggle("active");
                        nav.classList.toggle("on")
                    }
                </script>
            </div>
        </header>
        <main>
            <section class="sec-sign">
                <div class="wrap">
                  <div class="timeline">
                    <form id="join-form" action="/auth/join" method="post">
                      <h3>회원가입</h3>
                      <div class="input-group input-email">
                        <label for="join-email">이메일</label>
                        <input id="join-email" type="email" name="email" required>
                      </div>
                      <div class="input-group input-pw">
                        <label for="join-password">비밀번호</label>
                        <input id="join-password" type="password" name="password" required>
                      </div>
                      <div class="input-group input-name">
                        <label for="join-name">성명</label>
                        <input id="join-name" type="text" name="userName" required>
                      </div>
                      <div class="input-group input-phone">
                        <label for="join-phone">연락처</label>
                        <div class="phone-numbers">
                          <input id="join-phone" type="tel" name="phone" maxlength="12" required placeholder="'-' 제외하고 입력">
                          <!-- <input id="join-phone-1" type="tel" name="phone" maxlength="3" required>
                          <span>-</span> 
                          <input id="join-phone-2" type="tel" name="phone" maxlength="4" required>
                          <span>-</span> 
                          <input id="join-phone-3" type="tel" name="phone" maxlength="4" required> -->
                        </div>
                      </div>
                      <ul class="policies">
                        <li>
                          <input type="checkbox" name="ckPrivacy" id="ckPrivacy" required>
                          <label for="ckPrivacy">[필수] 개인정보 처리방침 동의</label>
                          <span><a href="#">보기</a></span>
                        </li>
                        <li>
                          <input type="checkbox" name="ckService" id="ckService" required>
                          <label for="ckService">[필수] 서비스 이용약관 동의</label>
                          <span><a href="#">보기</a></span>
                        </li>
                      </ul>
                      <div class="g-recaptcha" data-sitekey="6Lfitd8iAAAAAFuB0tHFp8Neqiz0Hpfgeib23kIj"></div>
                      <button id="join-btn" type="submit" class="btn-sign-up">회원가입</button>
                    </form>
                    <script>
                      window.onload = () => {
                        if (new URL(location.href).searchParams.get('error')) {
                          alert('이미 존재하는 이메일입니다.');
                        }
                      };
                    </script>
                  </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="wrap">
                <div class="ft-menu">
                    <ul class="ft-nav">
                        <li><a href="/accessibilities">접근성 소개</a></li>
                        <li><a href="/center">연구원 소개</a></li>
                        <li><a href="/library">자료실</a></li>
                        <li><a href="#none" onclick="alert('페이지 준비중입니다.')">문의하기</a></li>
                    </ul>
                    <ul class="site-map">
                        <li><a href="/policy.html" target="_blank">개인정보처리방침</a></li>
                        <li><a href="#none" onclick="alert(`서비스 준비중입니다.`)">이용약관</a></li>
                    </ul>
                </div>
                <address>
                    <h2 class="ft-logo"><img src="/images/ft-logo.png" alt=""></h2>
                    <p>
                        (사)한국접근성평가연구원 서울 종로구 대학로8길 26, 6층 (동숭동, 예향빌딩)<br>
                        사업자등록번호 139-82-03219 / 대표자 이성일<br>
                        COPYRIGHT©KOREA ACCESSIBILITY RESEARCH & EVALUATION ALL RIGHTS RESERVED.
                    </p>
                </address>
            </div>
        </footer>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>